.main{
    position: relative;
    text-align: center;
    /*color: white;*/
}
.main .img{
    /*background-color: #7db3bd;*/
    margin-left: auto;
    margin-right: auto;
}
.main img{
    width: 100%;
    height: auto;
    filter: alpha(opacity=50);
}